# TRABAJO PYTHON  

## Ejercicios resueltos

### Ejercicio 1
Defina un diccionario de al menos 4 llaves de tal manera que esas llaves sean tuplas. Acceda a cada elemento.

In [12]:
Mi_dic=dict([
    ("Color",["ROJO", "AZUL", "VERDE"]),
    ("Marca", ["XIAOMI", "HUAWEI","MOTOROLA"]),
    ("Tamaño", ["4,5 PULGADAS","4,7 PULGADAS"]),
    ("Accesibilidad",["Económico", "Costoso"])
        
    ])

### Elementos categoria "Color"

In [11]:

for i in Mi_dic["Color"]:
    print(i, end=" ")

ROJO AZUL VERDE

### Elementos categoria "Marca"

In [20]:
for i in Mi_dic["Marca"]:
    print(i, end=" - ")

XIAOMI - HUAWEI - MOTOROLA -

### Elmentos categoria "Tamaño"

In [18]:
for i in Mi_dic["Tamaño"]:
    print(i, end=" - ")

4,5 PULGADAS  4,7 PULGADAS

### Elementos categoria "Accesibilidad"

In [21]:
for i in Mi_dic["Accesibilidad"]:
    print(i, end=" - ")

Económico - Costoso -

### Ejercicio 2

Escribir en una lista los siguientes precios, 49, 60, 2, 22, 90, 45, 10, 99 donde se ordenen de menor a mayor y muestre el mínimo y el máximo.

In [5]:
Precios = [49, 60, 2, 22, 90, 45, 10, 99]
min = max = Precios[0]
for i in Precios:
    if i < min:
        min = i
    elif i > max:
        max = i 
print("El mínimo es " + str(min)) 
print("El máximo es " + str(max))

print(sorted(Precios))

El mínimo es 2
El máximo es 99
[2, 10, 22, 45, 49, 60, 90, 99]

# PUNTO 3-4

In [ ]:
from datetime import datetime
import csv

class CuentaBancaria:

    MIN_SALDO = -10_000
    
    def __init__(self, cliente, numero_cuenta, saldo=0):
        self.cliente = cliente    
        self.numero_cuenta = numero_cuenta
        self.creada_en = datetime.now().date()
        if saldo < self.MIN_SALDO:
            raise ValueError("¡Saldo muy pequeño!")
        else:
            self.saldo = saldo
    
    @classmethod
    def from_csv(cls, filepath):
        with open(filepath, "r") as f:
            fila = csv.reader(f).__next__()
            cliente, numero_cuenta = fila
            return cls(cliente, numero_cuenta)
     
    def deposito(self, monto):
        self.saldo += monto
        
    def retiro(self, monto):
        self.saldo -= monto
    
    def __eq__(self, other):
        return True if self.numero_cuenta == other.numero_cuenta else False
    
    def __str__(self):
        return f"""
          Cuenta Bancaria:
          Propietario de la cuenta: {self.cliente}
          Número de cuenta: {self.numero_cuenta}
          Fecha de creación: {self.to_dash_date(str(self.creada_en))}
          Saldo actual: {self.saldo}
          """
    
    def to_dash_date(self, date):
        return date.replace("/", "-")
    
    def __repr__(self):
        return f"CuentaBancaria(cliente='{self.cliente}', " \
               f"numero_cuenta={self.numero_cuenta}, " \
               f"saldo={self.saldo})"

In [ ]:
mi_cuenta = CuentaBancaria("María", 151148)
print(mi_cuenta)
repr(mi_cuenta)

          Cuenta Bancaria:
          Propietario de la cuenta: María
          Número de cuenta: 151148
          Fecha de creación: 2022-08-29
          Saldo actual: 0

"CuentaBancaria(cliente='María', numero_cuenta=151148, saldo=0)"

In [7]:
import pandas
link="https://raw.githubusercontent.com/JohanAHS/Lista-bancaria/main/Nuevo%20Hoja%20de%20c%C3%A1lculo%20de%20Microsoft%20Excel.csv"
Tabla=pandas.read_csv(link)
Tabla.head()

   NUMERO DE CUENTA   CLIENTE  SALDO ACTUAL
0         846846846    LOPEZ       50000000
1         684681681  MARTINEZ      60000000
2         164616816     MARIA      80000000
3         485616651     JUANA      96000000
4         798684618   JULIANA      46000000

In [9]:
from datetime import datetime
link="https://raw.githubusercontent.com/JohanAHS/Lista-bancaria/main/Nuevo%20Hoja%20de%20c%C3%A1lculo%20de%20Microsoft%20Excel.csv"
Tabla=pandas.read_csv(link)
Tabla.head()

class inte(object):

    def _init_(self):
        pass

    @classmethod
    def Banco(cls,Numero):

        Numero=0
        self_cliente=str(Tabla.iloc[Numero,1])
        self_Numero_De_cuenta=str(Tabla.iloc[Numero,0])
        self_Saldo_Actual=str(Tabla.iloc[Numero,2])
        self_creada= datetime.now().date()

        print(f"CUENTA BANCARIA \nCliente:{self_cliente} \nNumero de cuenta:{self_Numero_De_cuenta} \nSaldo actual:{self_Saldo_Actual} \nFecha de transacción:{self_creada}")

        yield 1

        Numero=1
        self_cliente=str(Tabla.iloc[Numero,1])
        self_Numero_De_cuenta=str(Tabla.iloc[Numero,0])
        self_Saldo_Actual=str(Tabla.iloc[Numero,2])
        self_creada= datetime.now().date()
        print(f"CUENTA BANCARIA \nCliente:{self_cliente} \nNumero de cuenta:{self_Numero_De_cuenta} \nSaldo actual:{self_Saldo_Actual} \nFecha de transacción:{self_creada}")

        yield 2

        Numero=2
        self_cliente=str(Tabla.iloc[Numero,1])
        self_Numero_De_cuenta=str(Tabla.iloc[Numero,0])
        self_Saldo_Actual=str(Tabla.iloc[Numero,2])
        self_creada= datetime.now().date()
        print(f"CUENTA BANCARIA \nCliente:{self_cliente} \nNumero de cuenta:{self_Numero_De_cuenta} \nSaldo actual:{self_Saldo_Actual} \nFecha de transacción:{self_creada}")

        yield 3

        Numero=3
        self_cliente=str(Tabla.iloc[Numero,1])
        self_Numero_De_cuenta=str(Tabla.iloc[Numero,0])
        self_Saldo_Actual=str(Tabla.iloc[Numero,2])
        self_creada= datetime.now().date()
        print(f"CUENTA BANCARIA \nCliente:{self_cliente} \nNumero de cuenta:{self_Numero_De_cuenta} \nSaldo actual:{self_Saldo_Actual} \nFecha de transacción:{self_creada}")

        yield 4

        Numero=4
        self_cliente=str(Tabla.iloc[Numero,1])
        self_Numero_De_cuenta=str(Tabla.iloc[Numero,0])
        self_Saldo_Actual=str(Tabla.iloc[Numero,2])
        self_creada= datetime.now().date()
        print(f"CUENTA BANCARIA \nCliente:{self_cliente} \nNumero de cuenta:{self_Numero_De_cuenta} \nSaldo actual:{self_Saldo_Actual} \nFecha de transacción:{self_creada}")










for i in inte.Banco(0):
    print(i, end="\n \n")

CUENTA BANCARIA
Cliente:LOPEZ
Numero de cuenta:846846846
Saldo actual:50000000
Fecha de transacción:2022-08-30
1

CUENTA BANCARIA
Cliente:MARTINEZ
Numero de cuenta:684681681
Saldo actual:60000000
Fecha de transacción:2022-08-30
2

CUENTA BANCARIA
Cliente:MARIA
Numero de cuenta:164616816
Saldo actual:80000000
Fecha de transacción:2022-08-30
3

CUENTA BANCARIA
Cliente:JUANA
Numero de cuenta:485616651
Saldo actual:96000000
Fecha de transacción:2022-08-30
4

CUENTA BANCARIA
Cliente:JULIANA
Numero de cuenta:798684618
Saldo actual:46000000
Fecha de transacción:2022-08-30